.navbar-brand img {
  width: 4rem;
}

.description-text {
  text-align: justify;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 1.7rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  p {
    font-size: 0.9rem;
  }
  
  .container {
    max-width: 1120px;
    padding: 2rem;
    margin: auto;
  }
  
  
  .favorite {
    padding: 12px;
  }
  
  .favorite img {
    float: left;
    margin-right: 6px;
  }
  
  .favorite p {
    font-size: larger;
    font-weight: bold;
    color: #1596b1;
  }
  
  .fav-redirect{
  text-decoration: none;
  color:#000000;
  }

  .product-fav {
    background: #f1f3f1;
    height: 99px;
    border-radius: 7px;
    margin-bottom: 12px;
  }
  
  .product-fav img {
    width: 99px;
    height: 99px;
    border-radius: 7px;
    float: left;
    margin-right: 8px;
  }
  
  .title-fav {
    font-size: 15px;
    font-weight: bold;
    padding-top: 16px;
  }
  
  .price-fav {
    font-size: 12px;
    color: #495057;
  }
  
  .date-fav {
    margin-top: -7px;
    font-size: 10px;
    color: #495057;
  }
  