* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  background: #fff;
  max-width: 100%;
	padding: 15px 30px;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.2);
}

header img:first-child {
	width: 90px;
}

header img:last-child {
	width: 30px;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 1.7rem;
}

#content {
  margin-top: 20px;
}

p {
  color: #495057;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.product-info-wrapper {
  margin: 10px 0 0 10px;
}

.product-card img {
  border-radius: 10px 10px 20px 20px;
}

.product-main-info-section {
  display: flex;
  justify-content: space-between;

  margin-top: 8px;
}

.visit-section {
    display: flex;
}

.price-favorite-section {
  display: flex;
  justify-content: start;
}

.favorite-button {
  display: flex;
  align-items: start;

  padding-top: 15px;
  border: 1px solid rgba(73, 80, 87, 0.19);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 10px;
}

.favorite-button p {
    margin-left: 5px;
  }

.price {
  font-weight: bold;
  margin-right: 15px;
  font-size: 18px;
}

.product-subinfo-section {
  margin-top: 8px;
}

.separation-line {
  height: 1px;
  background-color: #e9ecef;
  margin-top: 12px;
}
