nav {
  padding: 0 2rem;
}

.navbar-brand img {
  width: 4rem;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.carousel-item {
  height: 50vh;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.card-text {
  text-align: justify;
}

.card img {
  height: 240px;
}
