html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

nav {
	box-shadow: 0 8px 6px -6px rgb(167, 164, 164);
}
  
.navbar-brand img {
	width: 4rem;
}
  
.description-text {
	text-align: justify;
}
  
.navbar-nav {
	width: 100%;
	justify-content: flex-end;
}
  
h1 {
	font-size: 1.7rem;
}

h2 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

p {
	font-size: 0.9rem;
}

.container {
	max-width: 1120px;
	padding: 0;
}

.cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	min-height: calc(100vh - 385px);
    width: 100%;
    margin-top: 70px;
	padding: 2rem;
}

.session-title {
	display: flex;
	align-items: flex-end;
	width: 75%;
}

.session-title .bottom-line {
	border-bottom: 2px solid #F0F0F0;
	width: 100%;
	margin-left: 10px;
}

.session-title img {
	width: 65px;
}

.session-title h1 {
	font-weight: 800;
	margin-left: 15px;
	color: #1596B1;
	font-size: 2rem;
}

.product {
	display: flex;
	align-items: center;
	background: #F1F3F1;
	display: flex;
	border-radius: 10px;
	margin-top: 30px;
	width: 75%;
}

.product .remove-button-session {
	display: flex;
	flex: 1;
	align-items: baseline;
	justify-content: flex-end;
	padding-right: 25px;
	height: 135px;
}

.product .remove-button-session .remove-button {
	margin-left: 15px;
	width: 15px;
	cursor: pointer;
}

.product-image {
	min-width: 150px;
	height: 180px;
	background: url("../../public/product.png") no-repeat;
	background-size: cover;
	background-position: 50%;
	border-radius: 10px;
	margin-right: 15px;
}

.product-info {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 40%;
	gap: 10px;
	margin-left: 15px;
	
}

.product-info span {
	display: inline-block;
	max-width: 100%;
	font-weight: 800;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product strong {
	color: #495057;
	font-weight: 600;
	font-size: 1.2rem;
}

.product p {
	color: #495057;
	font-weight: 600;
	font-size: .8rem;
}

.value-container {
	width: 100;
	background: #F8F8F8;
}

.total-value {
	display: flex;
	margin-top: 50px;
    padding: 35px 25px;
	flex-direction: column;
	align-items: center;
	width: 70%;
	max-width: 850px;
}

.total-value .value {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.total-value .value span {
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
}

.total-value .value p {
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
}

.total-value button {
	cursor: pointer;
    font-family: 'Lato', sans-serif;
	font-weight: 700;
	width: 100%;
	border: none;
	padding: 15px;
	margin-top: 20px;
	color: #fff;
	font-size: 1rem;
	background: #1596B1;
}

.total-value button:hover {
	background: #138da5;
}

@media (max-width: 800px) {
	.session-title {
		width: 100%;
	}
	
	.product {
		width: 100%;
	}

	.total-value {
		width: 100%;
	}
}

.quant {
	display: flex;
	justify-content: start;
	align-items: center;
	background: #DDDDDD;
	border-radius: 4px;
	font-family: 'Lato', sans-serif;
	width: fit-content;
	margin-top: 5px;
	padding: 10px 10px 10px 15px;
}

select {
	margin-left: 5px;
}

.form-select {
	border: none;	
	font-family: 'Lato', sans-serif;
}

option {
	color: #000;
}