


.product-fav{
background: #F1F3F1;
display: flex;
align-items: center;
min-width: 75%;
max-width:100%;
border-radius: 10px;
margin-bottom: 16px;
margin-top: 16px;
cursor:pointer;
}


.product-fav img{
width: 25%;
min-height:100%;
max-height: 100%;
height: 150px;
border-radius: 10px;
float: left;
margin-right: 8px;
background-size: cover;
background-position: 50%;
margin-right: 15px;
object-fit: cover;
}



.title-fav{
font-size: 15px;
font-weight: bold;
padding-top: 16px;
white-space: nowrap;
width: 200px;
overflow: hidden;
text-overflow: ellipsis;
}

.price-fav{
font-size: 12px;
color: #495057;
}

.date-fav{
font-size: 10px;
color:#495057;
margin-left: -15px;
}

.star-fav{
position: absolute;
top:15%;
right:20px;
padding-right: 10px;
height: 135px;
}