* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  background-color: #fff;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #eaeaea;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

p {
  font-size: 0.9rem;
}

.container {
  max-width: 1120px;
  padding: 2rem;
  margin: auto;
}

.product-showcase {
  display: flex;
}

.product-showcase .checkout {
  margin-left: 1.5rem;
}

.product-showcase .checkout button {
  border: none;
  background-color: #0493b5;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

.product-showcase img {
  width: 250px;
}

.questions ul {
  list-style: none;
}

.question {
  margin: 2rem;
  border-bottom: 1px solid #eaeaea;
}

.question p:first-child span {
  font-weight: bold;
}

.question p:last-child {
  padding: 1rem;
}
